body{
    background: linear-gradient(to right, #202020, #646464);
}


#task-container{
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 100px;
    margin-bottom:100px;
    justify-content: space-around;
    align-items: flex-start;
}

#form-wrapper{
    position: -webkit-sticky;
    position: sticky;
    top: 0rem;
    border-bottom: 1px solid #e9a9e9;
    background-color: #fff;
    padding: 40px;
}

#submit{
    background-color: #36d9b6;
    border-radius: 0;
    border: 0;
    color: #fff;
}

.flex-wrapper{
    display: flex;
}

.task-wrapper:hover{
    background-color: #f0f0f0;
}

#list-wrapper ul{
    list-style: none;
}

#list-wrapper button{
    float: right;
    margin-right: 30px;
}

#list-wrapper{
    height: 1.9rem;
}